<button
  type='button'
  class='btn btn-success'
  {{on 'click' this.onShowModal}}
>Create post</button>

{{#if this.isShowCreateModal}}
  <Post::Create::Modal
    @onTitleChange={{this.onTitleChange}}
    @onContentChange={{this.onContentChange}}
    @onClose={{this.onHideModal}}
    @onSaveChange={{this.onSaveChange}}
  />
{{/if}}