<table class='table table-striped'>
  <thead>
    <tr>
      <th scope='col'>ID</th>
      <th scope='col'>Username</th>
      <th scope='col'>Password</th>
      <th scope='col'>email</th>
    </tr>
  </thead>
  <tbody>
    {{#each @users as |user index|}}
      <tr>
        <td data-test-id={{index}}>{{user.id}}</td>
        <td data-test-username={{index}}>
          <LinkTo @route='home.user.show' @model={{user}}>
            {{user.username}}
          </LinkTo>
        </td>
        <td data-test-password={{index}}>{{user.password}}</td>
        <td data-test-email={{index}}>{{user.email}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>